@{
    ViewBag.Title = "Frank Rasch JQuery stuff";
}

<h2>@ViewBag.Message</h2>
<p>
    Her vil jeg prøve alle mulige forskellige jQuery ting, både ren jQuery og forskellige plugins. Klik omkring os se om der er noget du kan bruge.
</p>
<p>JQuery er er lagt i script på de sider de bliver brugt, så skal du se noget kode, så er vis kilde guld værd.</p>
