@{
    ViewBag.Title = "Modal sliding";
    Layout = null;
}

<h2>Modal</h2>
<p>Når modal er sat til true kan man kun lukke den igen ved og lave et custom link til og lukke.....</p>
<a class="pageslide-close" href="javascript:;">Luk Luk Luk</a>