@{
    ViewBag.Title = "Right sliding";
    Layout = null;
}
<div class="rightblack">
<h2>Højre slide</h2>
<p>hvis du læser det her, vil du føle dig en lille smule snydt nu for der står absolut ikke noget her der er værd og læse, så luk den dog igen. Hvis du stadig læser suk.....</p>
</div>